* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 14px;
    opacity: .73;
}

.card {
    background-color: hsl(30, 38%, 92%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 2rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-content p, h1 {
    margin-bottom: 15px;
}

.card-content .card-call {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12.3px;
}

.card-content h1 {
    font-family: 'Fraunces', serif;
    line-height: 1;
}

.card-content .card-text {
    line-height: 1.6;
}

.card-content .card-price {
    margin-bottom: 18px;
    display: flex;
}

.card-content .card-price span {
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    margin-right: 14px;
}

.card-content .card-price s {
    font-size: 13px;
    opacity: .7;
    margin-top: 10px;
}

.card-content .card-link {
    padding: 1rem;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content .card-link a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-self: center;
    align-items: center;
}

.card-content .card-link:hover {
    background-color: hsl(159, 44%, 24%);
}

.card-content a span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .card-body {
        flex-direction: row;
        width: 40%;
    }

    .card-image, .card-content {
        width: 50%;
    }

    .card-image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .card-content {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
    }
}
   